/**
 * --------------------------------------------------------------------
 * Magistral
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'FS Magistral Medium';
  font-display: swap;
  src:local('FS Magistral Medium'), url('fonts/FS-Magistral-Medium.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}