// Color
$primary-color: #001163;
$secondary-color: #666AEE;

// Fonts families
$font-FS-Magistral-Medium: 'FS Magistral Medium',sans-serif;

// Font-size base
$base-font: 14px !default;
$base-design-font: 16px !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 375px,
  s: 640px,
  m: 960px,
  l: 1200px,
  xl: 1600px
) !default;
